# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/vcs.xml
/unoesc_prog3_2023.iml
/misc.xml
/modules.xml
/jpa-buddy.xml
